<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Revivre l'évènement</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="icon" href="images/logo_icon.ico"/>
        <script src="javascript/map.js"></script>
    </head>
    <body>
        <header>
            <div class="bg-dark container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <nav class= "navbar navbar-expand-md navbar-dark " id="lien_top_right">
                            <a class="navbar-brand" th:href="@{/}" href="#"><img id="logo" src="images/header/logo_v1.png" alt="logo_v1.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarContent" class="collapse navbar-collapse row">
                                <div class="col-12">   
                                    <ul class="navbar-nav mr-auto justify-content-around">
                                        <li class="nav-item active "><a id="Accueil" class="nav-link " th:href="@{/}" href="#">Accueil</a></li>
                                        <li class="nav-item active "><a id="Contribuer" class="nav-link" href="evenement/contribuer">Contribuer</a></li>
                                        <li class="nav-item active "><a id="Hasard" class="nav-link" href="evenement/eventRandom">Évènement au hasard</a></li>
                                        <li class="nav-item active "><a href="evenement/search" id="recherche" class="nav-link text-light text-decoration-none">Rechercher un évènement</a></li>
                                    </ul>
                                </div>    
                            </div>
                                                  
                           <!-- <button id="affichage" ><img id="mode" src="../images/header/mini_mode_jour.jpg" alt="mode jour/nuit"/></button>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="bg-light">
            <br/>
                <div class="container">            
                    <div class="row">
                        <div class="col">
                            <div class="jumbotron">
                                <p>Image de présentation ?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col" id="timeline">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> FRISE
                                    </h5>
                                    <p id="emplacementFrise" class="card-text"> Vous aurez bientôt accès à la frise chronologique dans une prochaine mise à jour !
                                    <!--texte qui va changer-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div id= "description" class="col-md-4 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> Description
                                    </h5>
                                    <p id="emplacementDescription" class="card-text"> Vous obtiendrez ici toutes les informations que vous souhaitez concernant l'évènement qui vous intéresse !
                                    <!--texte qui va changer-->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="map" class ="col-md-8 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> Carte
                                    </h5>
                                    <p id="emplacementCarte" class="card-text"> On affichera la carte en dessous</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item text-primary">A propos</li>
                            <li class="list-inline-item text-primary">© Revivre l'évènement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4FpKz6XLGE9hvSPPmP54lpfQQxHjVOkc&callback=initMap" async >
        </script>-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
