/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 févr. 2021, 09:31:38
    Author     : Mathieu

    Promis j'apprendrais à utiliser bootscrap ou des framework
*/

/** HEADER */


body{
    background-color:grey;
}
header img{
    width: 150px;
    height: 150px;
}

/** MAP*/

#map {
    height: 100%;
  }
  
  header{
      display:flex;
      border-bottom: solid 1px black;
      justify-content: space-between;
  }
  
  #recherche{
      text-decoration: none;
      color: black;
      position:relative;
      top:131px;
      height:19px;
  }
 
  #recherche:hover{
      background-color: yellow;
  }
  
  /* Optional: Makes the sample page fill the window. */
  /**
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  */

