/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 févr. 2021, 09:31:38
    Author     : Mathieu

    Promis j'apprendrais à utiliser bootscrap ou des framework
*/

/** HEADER */


#logo{
    width: 150px;
    height: 150px;
}

div a {
    font-size: 20px;
}

.annee {
    margin-left: 5px;
    margin-right: 5px;
}

#test{
    display:flex;
    flex-wrap: wrap;
}

.timeline-date-button {
    max-width: 45px;
    height: 45px;
}

#emplacementCarte{
    height: 400px;
}

#emplacementDescription{
    height: 400px;
}

#emplacementSE{
    height: 400px;
}

#description{
    margin-bottom: 25px;
}

#map{
    margin-bottom: 25px;
}

#liste{
    text-decoration: none;
}

#lieu{
    text-decoration: none;    
}