/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 fï¿½vr. 2021, 10:48:53
    Author     : tfrederi
*/

header img{
    width: 150px;
    height: 150px;
}