/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 f�vr. 2021, 10:48:53
    Author     : tfrederi
*/

html{
    background-color: rgb(248,249,250);
    overflow-y:scroll;
}

body{
    background-color: rgb(248,249,250);
    height:380px;
}

div a {
    font-size: 20px;
}

#logo{
    width: 150px;
    height: 150px;
}

#liste{
    margin-top: 25px;
    margin-bottom: 25px;
}

li{
    list-style-type:'- ';
}

#emplacementEvenement{
    height:400px;
}

table{
    width:100%;
    overflow:scroll;
}

table, td, th {
      padding: 10px;
      border: solid 5px rgb(52,58,64);
      border-radius:10px;
      text-align: center;
      }
th{
    border: solid 1px rgb(52,58,64);
}

td{
    border: solid 1px rgb(52,58,64);
}

.card-body{
    overflow:scroll;
}
/**C'est pas ceentré*/
img, video, audio{
    justify-content: center;
    width:500;
    
}
