<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Revivre l'évènement: Contribution</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="icon" href="images/logo_icon.ico"/>
        <script src="javascript/map.js"></script>
    </head>
    <body>
        <header>
            <div class="bg-dark">
                <div class="container">
                    <div class="row justify-content-around">
                        <nav class=" col-12 navbar navbar-expand-md navbar-dark" id="lien_top_right">
                            <a class="navbar-brand " th:href="@{/}" href="../static/index.html"><img id="logo" src="../images/header/logo_v1.png" alt="logo_v1.png" /></a>
                            <a th:href="@{/evenement/search}" id="recherche" class="text-light text-decoration-none">Rechercher un évènement</a>                       
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
				<span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarContent" class="collapse navbar-collapse">
                                <ul class="navbar-nav">
                                    <li class="nav-item active "><a id="Accueil" class="nav-link " th:href="@{/}" href="../static/index.html">Accueil</a></li>
                                    <li class="nav-item active "><a id="Contribuer" class="nav-link " th:href="@{/evenement/contribuer}">Contribuer</a></li>
                                    <li class="nav-item active "><a id="Hasard" class="nav-link " th:href="@{/evenement/eventRandom}">Évènement au hasard</a></li>
                                </ul>
                            </div>
                           <!-- <button id="affichage" ><img id="mode" src="../images/header/mini_mode_jour.jpg" alt="mode jour/nuit"/></button>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
            <h1>Contribuer</h1>
                <form id="formulaire" th:object="${evenement}" th:action="@{/formulaireEvenement/save}" method="POST">
                    <div>
                        <label for="nomEvenement">Nom de l'évènement : </label>
                        <input id="nomEvenement" type="text" name="nomEvenement" th:field="*{nomEvenement}" required="true"/><br/>
                        <span th:errors="${evenement.nomEvenement}"></span>
                        <label for="description">Brève description : </label>
                        <textarea id="description" name="description" rows ="5" cols="10" th:field="*{description}" required="true"></textarea><br/>
                        <span th:errors="${evenement.description}"></span>
                        <label for="lieu">Lieu de l'évènement : </label>
                        <input id="lieu" type="text" name="lieu" th:field="*{lieu}" required="true" /><br/>
                        <span th:errors="${evenement.lieu}"></span>
                        <label for="dateDebut">Date de début: </label>
                        <input id="dateDebut" name="dateDebutZZ" type="date" /><br/><!-- MARCHE PAS FAIT EXRPRES-->
                        <label for="dateFin">Date de fin: </label>
                        <input id="dateFin" name="dateFinZZ" type="date" /><br/> <!-- MARCHE PAS FAIT EXRPRES-->
                        <!--<label for="PJ">Pièce jointe : </label><input id="PJ" type="file" /><br/>  -->          
                    <input type = "submit"></input><input type="reset" value="Réinitialiser" />
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div class="bg-light">
		<div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item text-primary">A propos</li>
                                <li class="list-inline-item text-primary">Copyright</li>
                            </ul>
                        </div>
                    </div>
		</div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
</html>