<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Revivre l'évènement: Liste des évènements</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/liste_evenements.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="icon" href="../images/logo_icon.ico"/>
        <script src="javascript/map.js"></script>
    </head>
    <body>
        <header>
            <div class="bg-dark container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <nav class= "navbar navbar-expand-md navbar-dark " id="lien_top_right">
                            <a class="navbar-brand" th:href="@{/}" href="#"><img id="logo" src="../images/header/logo_v1.png" alt="logo_v1.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarContent" class="collapse navbar-collapse row">
                                <div class="col-12">   
                                    <ul class="navbar-nav mr-auto justify-content-around">
                                        <li class="nav-item active "><a id="Accueil" class="nav-link " th:href="@{/}" href="#">Accueil</a></li>
                                        <li class="nav-item active "><a id="Contribuer" class="nav-link" th:href="@{/contribuer}" href="evenement/contribuer">Contribuer</a></li>
                                        <li class="nav-item active "><a id="Hasard" class="nav-link" th:href="@{/eventRandom}" href="evenement/eventRandom">Évènement au hasard</a></li>
                                        <li class="nav-item active "><a th:href="@{/search}" href="evenement/search" id="recherche" class="nav-link text-light text-decoration-none">Rechercher un évènement</a></li>
                                    </ul>
                                </div>    
                            </div>

                            <!-- <button id="affichage" ><img id="mode" src="../images/header/mini_mode_jour.jpg" alt="mode jour/nuit"/></button>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="bg-light">
                <div class="container-fluid container-lg">
                    <div class="row">
                        <div id= "liste" class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> Liste
                                    </h5>
                                    <h3 th:text="${message}">Message de succès ou d'erreur</h3>
                                    <table>
                                        <tr>
                                            <th>Nom de l'évènement</th><th>Description</th><th>Lieu</th><th>Date de début</th><th>Date de fin</th><th id="blank"></th><th>Page wiki</th>
                                        </tr>
                                        <tr class="events_row" th:each="e:${listEvenements}">
                                            <td class="nomEvenementCells" th:id="${e.id}" th:text="${e.nomEvenement}"></td>
                                            <td class="descriptionCells" th:text="${e.description}"></td>
                                            <td class="lieuCells" th:text="${e.lieu}"></td>
                                            <td class="dateDebutCells" th:text="${#temporals.format(e.dateDebut, 'dd/MM/yyyy')}"></td>
                                            <td class="dateFinCells" th:text="${#temporals.format(e.dateFin, 'dd/MM/yyyy')}"></td>
                                            <td id="boutons">
                                                <button class="btn_modif" value="modifier">Modifier</button>
                                                <button class="btn_retour" value="retour">Retour</button>
                                                <button class="btn_save" value="save">Sauvegarder</button>
                                                <div class="espace_de_modification">
                                                </div>  
                                                <button class="btn-suppr">Supprimer l'évènement</button>
                                                <a class="suppr" th:href="@{/liste_events/delete(id=${e.id})}">Supprimer l'évènement</a>
                                            </td>
                                            <td>
                                                <a th:href="@{/liste_events/showWikiPage(id=${e.id})}">Wiki</a>
                                            </td>

                                        </tr>
                                    </table>
                                    <ul class="row">
                                        <!-- Pour la pagination (10 évènements par pages (LE CSS N'EST PAS FAIT) -->
                                        <li class="pagination" th:each="page,status:${pages}">
                                            <a th:href="@{/wiki/liste_evenements(page=${status.index})}" th:text="${status.index}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:each="e,state:${listEvenements}" >
            <div th:if="${(state.size < 4)}" class="bg-light" style="position:fixed;bottom:0px;width:100%;justify-content:center;">
                <div th:if="${(state.index == 0)}">
                    <footer>
                        <div class="bg-light">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-inline text-center">
                                            <li class="list-inline-item text-primary">A propos</li>
                                            <li class="list-inline-item text-primary">© Revivre l'évènement</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <div th:unless="${(state.size < 4)}" class="bg-light">
                <div th:if="${(state.index == 0)}">
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-inline text-center">
                                        <li class="list-inline-item text-primary">A propos</li>
                                        <li class="list-inline-item text-primary">© Revivre l'évènement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="../javascript/liste_events.js"></script>
    </body>
</html>