<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Revivre l'évènement: Liste des Ressources</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/liste_ressources_event.css"/>
         <!-- Il est connecté au map.css car les 2 doivent avoir le footer en bas de page forcé 
        car pas assez de contenu dans la page pour l'y mettre de base.
         Soucis que je ne comprends pas, background qui se remplit pas -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="icon" href="../images/logo_icon.ico"/>
        <script src="javascript/map.js"></script>
    </head>
    <body>
        <header>
            <div class="bg-dark container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <nav class= "navbar navbar-expand-md navbar-dark " id="lien_top_right">
                            <a class="navbar-brand" th:href="@{/}" href="#"><img id="logo" src="../images/header/logo_v1.png" alt="logo_v1.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarContent" class="collapse navbar-collapse row">
                                <div class="col-12">   
                                    <ul class="navbar-nav mr-auto justify-content-around">
                                        <li class="nav-item active "><a id="Accueil" class="nav-link " th:href="@{/}" href="#">Accueil</a></li>
                                        <li class="nav-item active "><a id="Contribuer" class="nav-link" th:href="@{/contribuer}" href="evenement/contribuer">Contribuer</a></li>
                                        <li class="nav-item active "><a id="Hasard" class="nav-link" th:href="@{/eventRandom}" href="evenement/eventRandom">Évènement au hasard</a></li>
                                        <li class="nav-item active "><a th:href="@{/search}" href="evenement/search" id="recherche" class="nav-link text-light text-decoration-none">Rechercher un évènement</a></li>
                                    </ul>
                                </div>    
                            </div>
                                                  
                           <!-- <button id="affichage" ><img id="mode" src="../images/header/mini_mode_jour.jpg" alt="mode jour/nuit"/></button>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="bg-light">
                <div class="container">
                    <div class="row">
                        <div id= "liste" class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h4 th:text="${evenement.nomEvenement}"></h4>
                                    <h5 class="card-title"> Liste des items
                                    </h5>
                                    <div th:if="${hasItems}">
                                        <div th:each="f:${files}" >
                                            <img th:if="${#strings.endsWith(f,'png') or #strings.endsWith(f,'jpeg') or #strings.endsWith(f,'jpg')}" th:src="${f}"></img>
                                            <video th:if="${#strings.endsWith(f,'mp4') or #strings.endsWith(f,'webm') or #strings.endsWith(f,'ogv')}" width="500" controls="true" preload="auto">
                                                <source th:src="${f}" type="video/mp4"></source>
                                            </video>
                                            <audio th:if="${#strings.endsWith(f,'mp3') or #strings.endsWith(f,'ogg')}" controls="true">
                                                <source th:src="${f}" type="audio/mp3"></source>
                                            </audio>
                                        </div>
                                        <!--<blockquote class="twitter-tweet">
                                            <a href="https://twitter.com/ActuFoot_/status/1384410457008746496?ref_src=twsrc%5Etfw"></a>
                                        </blockquote> 
                                        <script async='true' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                                        <table>
                                            <tr>
                                                <th>Nom de l'item</th><th>Type</th><th>Date</th><th>Lien</th>
                                            </tr>
                                            <tr class="items_row"  th:each="i:${liste_item_of_event}">
                                                <td class="itemNameCell" th:text="${i.nomItem}"></td>
                                                <td th:text="${i.typeItem}"></td>
                                                <td th:text="${i.dateItem}"></td>
                                                <td ><a th:text="${i.nomItem}"></a></td>
                                            </tr> 
                                        </table>
                                    </div>
                                    <div th:unless="${hasItems}">
                                        <h3>Cet évènement n'a pas d'item</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:if="${hasItems}">
            <footer>
                <div class="bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item text-primary">A propos</li>
                                    <li class="list-inline-item text-primary">© Revivre l'évènement</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div th:unless="${hasItems}" class="bg-light" style="position:fixed;bottom:0px;width:100%;justify-content:center;">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item text-primary">A propos</li>
                                <li class="list-inline-item text-primary">© Revivre l'évènement</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        <script>window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                  t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function(f) {
                  t._e.push(f);
                };

                return t;
              }(document, "script", "twitter-wjs"));
    </script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
</html>