<!--
    Pour gérer la recherche d'évènement
    author: Mathieu



-->




<!DOCTYPE html>
<html>
    <head>
        <title>Revivre l'évènement: recherche</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/search.css"/>
        <link rel="icon" href="../images/logo_icon.ico"/>
    </head>
    <body>
        <header>
            <a href="../static/index.html"> <img id="logo" src="../images/header/logo_v1.png" alt="logo_v1.png"/> </a>
            <a href="templates/search.html">Rechercher un évènement</a>
            <nav id="lien_top_right">
                <ul>
                    <li><a href="../static/index.html">Accueil</a></li>
                    <li><a href='contribuer.html'>Contribuer</a></li>
                    <li><a href="wiki.html">Évent au hasard</a></li>
                </ul>
            </nav>
        </header>
        <h1>Rechercher un évènement</h1>
        <div>
            <!--Faire un menu qui apparait pour chaque choix-->
            <input type="button" value="Par lieu"/>
            <input type="button" value="Par date"/>
            <input type ="button" value="Par mot-clé"/>
        </div>
    </body>
</html>