<!--
    Le wiki
    author: Mathieu



-->




<!DOCTYPE html>
<html>
    <head>
        <title>Revivre l'évènement: Wiki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/wiki.css"/>
        <link rel="icon" href="../images/logo_icon.ico"/>
    </head>
    <body>
        <header>
            <a href="../static/index.html"> <img class="logo" src="../images/header/logo_v1.png" alt="logo_v1.png"/> </a>
            <a href="templates/search.html">Rechercher un évènement</a>
            <nav id="lien_top_right">
                <ul>
                    <li><a href="../static/index.html">Accueil</a></li>
                    <li><a href='contribuer.html'>Contribuer</a></li>
                    <li><a href="wiki.html">Évent au hasard</a></li>
                </ul>
            </nav>
        </header>
        <h1>Wiki-event</h1>
        <div>
            <h1>Event</h1>
            <ul>
                <li>ss-event1</li>
                <li>ss-event2</li>
                <li>ss-event3</li>
                <li>ss-event4</li>
            </ul>
        </div>
        <div>
            <h1>Description</h1>
            <p>.............................</p>
            <a href="map.html">Lieu</a>
            <img src="../images/header/logo_v1.png" alt="logo" class="logo">
            <a href="listeRessourcesEvent.html">Liste des ressources</a>
        </div>
    </body>
</html>